:root {
  --angular-color: #e14a2b;
  --angular-border-color: #b43b22;
  --ionic-color: #3579f2;
  --ionic-border-color: #2a60c1;
  --font-awesome-color: #59a483;
  --font-awesome-border-color: #478368;
  --material-color: #eb8400;
  --material-border-color: #bc6900;
  --ant-color: #e44f50;
  --ant-border-color: #b63f40;
  --pb-color: #2b0163;
  --pb-border-color: #22004f;
  --description-color: #864bd3;
  --description-border-color: #6b3ca8;
}

html,
body {
  font-family: 'Mulish', 'Tahoma', sans-serif;
  color: #fff;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

ul.loading-demo {
  width: 10px;
  float: left;
  list-style: none;
}
ul.loading-demo li {
  margin-bottom: 400px;
  text-decoration: none;
}

/* All Work
Changing width does trigger geometry changes and therefore layout.
Changing color does trigger paint.
*/
.animation {
  width: 300px;
  background-color: transparent;
}
.animation:hover {
  animation: a 500ms infinite alternate;
}

button {
  background: none;
  border: none;
  color: #fff;
  padding: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
}

@keyframes a {
  0% {
    background-color: red;
    width: 300px;
  }
  100% {
    background-color: blue;
    width: 100px;
  }
}

ol {
  font-size: 1.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
